example.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://example.com"
  xmlns:tns="http://example.com">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com">
      <xsd:element name="Request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Parameter1" type="xsd:string"/>
            <xsd:element name="Parameter2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetRequest">
    <wsdl:part name="parameters" element="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="GetResponse">
    <wsdl:part name="parameters" element="tns:Response"/>
  </wsdl:message>

  <wsdl:portType name="ExampleServicePortType">
    <wsdl:operation name="GetExample">
      <wsdl:input message="tns:GetRequest"/>
      <wsdl:output message="tns:GetResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ExampleServiceBinding" type="tns:ExampleServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetExample">
      <soap:operation soapAction="http://example.com/GetExample"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ExampleService">
    <wsdl:port name="ExampleServicePort" binding="tns:ExampleServiceBinding">
      <soap:address location="http://example.com/ExampleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
